@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,400&family=Metal+Mania&family=Roboto:wght@100&display=swap');

html {
    margin: 2px 10px 10px 10px;
    background-color: rgb(75, 70, 134);
    background: url("../img\/hatterkep.png");
   background-size: 100px, 100px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  
}


.header {
     background-image:  url("../img/Kép-0011.jpg"); 
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
    background-color:white;        
  border: 2px solid black;
}
.bemutat{color: rgb(131, 83, 65);
display: contents;
    height: fit-content;
    width: fit-content;
   

}
#szoveg {
   
    color:blue;
    font-family: 'Lora', serif;
   display: contents;
    width: 50%;
   
}

.menü-1{
    display: block;
    width: fit-content;
    height: fit-content;
    box-shadow: 3px 3px 3px red;

}


.hello {
    color: blue;
    display: contents;
    width:50%;

    
}
.name {
    font-weight: bold;
    color : darkred;
    display: block;
width:50%;
}
.menü {
    display: block;
    width: fit-content;
    height: fit-content;
   font-size: 15px;
   
   }
   .termek{
  font-size: 50px;     
display: block;
height: fit-content;
width: fit-content;
position:  relative;
top: 20px;
left: 0;

   
  }
#cim2{
   
    color: darkred;
    position: relative;
    left: 0;
}
.my {
    font-weight: bold;
    color: navy;
    background-color: cyan;
    display: block;
width:50%;
}
.content {
    color: blue;
    font-weight: lighter;
   
}

p{
    font-family: 'Lora', serif;
    text-align: center;
    color: indigo;
    display: contents;
    position: absolute;
    
width:50%;


    
    
}
ul{
    font-style: initial;
    color: black;
    text-align: left;
    
}
ol{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    text-align: left;

}
table{
    color: black;

}
.open{
    font-size: 50px;
    display: block;
    height: fit-content;
    width: fit-content;

    position: relative;
    left: 0;
}
#open{
    top: auto;
    border-radius: 2em;
    
}