@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,400&family=Metal+Mania&family=Roboto:wght@100&display=swap');

html {
    background-color: rgb(75, 70, 134);
    background-image:  url("../img/Kép-0011.jpg"); 
    background-size: 100px, 100px;
    background-repeat: repeat-x;
    background-attachment: fixed;
    text-align: center;

}
h1 {
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0,0,255);
    text-align: center;
    background-color:white;
     box-sizing: content-box;
     width: fit-content;
  height: 50px;
  padding: 20px;
  border: 10px solid blue;
 top: 3cm;
 right: 0;
}
#bemutat{color: rgb(131, 83, 65);
background-color: coral;
display: block;
    height: fit-content;
    width: fit-content;
}
#szoveg {
    color:blue;
    font-family: 'Lora', serif;
    background-color: coral;
    display: block;
    width: 50%;
    position: relative;
}
#cim{ color: mediumspringgreen;
    font-size: xx-large;
    font-family: 'Lora', serif;
    font-weight: 900;
background-color: coral;
display: block;
width:50%;
}
.menü-1{
    display: block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: coral;
    border:  5px solid orangered;
    box-shadow: 3px 3px 3px red;

}


.hello {
    color: blue;
    background-color: coral;
    display: block;
width:50%;
}
.name {
    font-weight: bold;
    color : darkred;
    background-color: coral;
    display: block;
width:50%;
}
.menü {
    display: contents;
    width: fit-content;
    height: fit-content;
   background-color: coral;
   font-size: 50px;
   }
   .termek{
  font-size: 50px;     
display: block;
height: fit-content;
width: fit-content;
position:  relative;
top: 20px;
left: 0;

   
  }
#cim2{
    display: block;
    height: fit-content;
    width: fit-content;
    background-color: coral;
    position: relative;
    left: 0;
}
.my {
    font-weight: bold;
    color: navy;
    background-color: cyan;
    display: block;
width:50%;
}
.content {
    color: blue;
    font-weight: lighter;
    background-color: coral;
}

p{
    font-family: 'Lora', serif;
    text-align: center;
    color: indigo;
    display: block;
width:50%;
    
    
}
ul{
    font-style: initial;
    color: black;
    text-align: left;
    background-color: coral;
    border: 5px solid orangered;
}
ol{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    text-align: left;
    background-color: coral;
}
table{
    color: black;
    background-color: coral;
}
.open{
    font-size: 50px;
    display: block;
    height: fit-content;
    width: fit-content;
    background-color: coral;
    position: relative;
    left: 0;
}