@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,400&family=Metal+Mania&family=Roboto:wght@100&display=swap');

h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(4, 4, 105);
    text-align: center;
}
#bemutat{color: maroon;}
#szoveg {
    color: olive;
    font-family: 'Lora', serif;
    
}
#cim{ color: mediumspringgreen;
    font-size: xx-large;
    font-family: 'Lora', serif;
    font-weight: 900;

}

}
.hello {
    color: blue;
}
.name {
    font-weight: bold;
    color : darkred;
}
.menü {
   background-color: fuchsia;
   font-size: xx-large;

}
.macsek {
    background-color: green;
    text-align: center;
}
.my {
    font-weight: bold;
    color: navy;
    background-color: cyan;
}
.content {
    color: blue;
    font-weight: lighter;
    background-color: crimson;
}

p{
    font-family: 'Lora', serif;
    text-align: center;
    color: indigo;
    
    
}
ul{
    font-style: initial;
    color: red;
    text-align: left;
}
ol{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    text-align: left;
}
table{
    color: orangered;
}