.login-div{
    background-color: #c0c0c0;
    display: block;
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 20px;
    top: 350px;
    border: solid 2px #c0c0c0;
    padding: 2px;
    box-shadow: 0 0 10px #a0a0a0;
    top: 5em;
}
.login-div input[type="Email"]{
    border: solid 1px blue;
    display: block; 
}
.login-div input[type="password"]{
    border: solid 1px blue;
      display: block;
width: fit-content;
height: fit-content;   
  }
  .login-div input:focus {
    box-shadow: 4px 4px 3px maroon;
    border: none;
    
  }
  .login-div button:hover {
      box-shadow: 2px 2px 10px  #f1f1f1;
  }
  #login{
      display: block;
      width: fit-content;
      height: fit-content;
       padding:  5px;
        font-size: 15px;
        background-color: white;
               border: solid 2px black; 
        bottom: auto;
  } 
  .menü :hover{
    box-shadow: 2px 2px 2px black;
  } 